//- The splash cover pages
//- @name splash-cover.jade

//- Holds the splash screens / overlays for mixer load
//- @function splash-cover
mixin splash-cover()
    //  Splash - Entry Screen
    .splash.cover
        span.splash-brand.col-md-12.col-sm-12.col-xs-12
            span.splash-brand-label trackstudio