//- error microphone splash cover page
//- @name splash-microphone.jade

//- Holds the splash screens / overlays for mixer microphone error
//- @function splash-microphone
mixin splash-microphone()
    // Splash - Microphone Enabling Instructions
    .splash.microphone.hide
        .top.col-xs-12.col-sm-12.col-md-12.col-lg-12
        // Browser Instructions
        .instructions.opera.ie.edge.firefox.safari.other.hide

