/**
 *  @file   DropDown.css
 *
 *  Contains dropdown related styles.
 */

 .dropdown{
    position: absolute;
    top: 50px;
    left: 0;
    right:0;
    background: #181818;
    z-index: 1000;
    padding: 0;
    color:#fafafa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: outset 1px #333;
}

.dropdown .holder{
    overflow-y: auto;
    height: 700px;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.dropdown-left, .dropdown-right {
    height:100%;
}

.dropdown button{
    background: #D8D8D8;
    color:#181818;
    line-height:30px;
    height:30px;
}
.panel {
    background:none;
    border:none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top:10px;
    float:none;
}

.panel .title .fa{
    line-height: 20px;
    font-size: 15px;
    margin-right: 5px
}

.fx-catalog-panel,
.account-panel,
.mix-catalog-panel,
.login-panel,
.register-panel,
.information-panel,
.about-panel,
.contact-panel,
.api-panel,
.dropdown {
    display: none;
}

.wait {
    background-image: url('/app/img/wait.gif');
    background-repeat: no-repeat;
    background-position: center center;
    height:100%;
    display: none;
}

.dropdown .col-xs-1, .dropdown .col-xs-10, .dropdown .col-xs-11, .dropdown .col-xs-12, .dropdown .col-xs-2, .dropdown .col-xs-3, .dropdown .col-xs-4, .dropdown .col-xs-5, .dropdown .col-xs-6, .dropdown .col-xs-7, .dropdown .col-xs-8, .dropdown .col-xs-9,
.dropdown .col-sm-1, .dropdown .col-sm-10, .dropdown .col-sm-11, .dropdown .col-sm-12, .dropdown .col-sm-2, .dropdown .col-sm-3, .dropdown .col-sm-4, .dropdown .col-sm-5, .dropdown .col-sm-6, .dropdown .col-sm-7, .dropdown .col-sm-8, .dropdown .col-sm-9,
.dropdown .col-md-1, .dropdown .col-md-10, .dropdown .col-md-11, .dropdown .col-md-12, .dropdown .col-md-2, .dropdown .col-md-3, .dropdown .col-md-4, .dropdown .col-md-5, .dropdown .col-md-6, .dropdown .col-md-7, .dropdown .col-md-8, .dropdown .col-md-9 {
    float: none;
}
.wait-left-panel {
    float: left;
}
.wait-right-panel {
    float: left;
}
.dropdown .row {
    margin-left: 0;
}

.dropdown-left{
    float: left !important;
}

.api-item-url {
    font-size:16px;
    color:#149BDF;
    }
.api-item-param {
    font-style: italic;
    margin-right: 25px;
    width: 40px;
    display: inline-block;
    color: #FF007D;
}
.api-row-tabbed {
    margin-left:25px;
}
.api-row-options{
    margin-left: 90px;
}
.api-url-param {
    color: #FF007D;
}
.api-row-options {
    color:#149BDF
}
.api-url-param {
    font-style: italic;
}
.api-item-param,
.api-item-param-description {
    font-size: 14px;
}
