/**
 *  @file   DropDown.css
 *
 *  Contains dropdown related styles.
 */
 .dropdown {
    position: absolute;
    top: 55px;
    left: 0;
    right:0;
    background: #181818;
    z-index: 1000;
    padding: 0 10px;
    color:#fafafa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: outset 1px #333;
}

.dropdown-left, .dropdown-right {
    height:100%;
    padding: 10px;
}

.dropdown-left {
    border-right: outset 1px #333;
}
.dropdown-right {
    border-left: outset 1px #333;
}
.dropdown button{
    background: #D8D8D8;
    color:#181818;
    line-height:30px;
    height:30px;
}
.panel {
    background:none;
    border:none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top:10px;
}

.panel .title .fa{
    line-height: 20px;
    font-size: 15px;
    margin-right: 5px
}

.fx-catalog-panel,
.account-panel,
.mix-catalog-panel,
.login-panel,
.register-panel,
.information-panel,
.about-panel,
.contact-panel,
.dropdown {
    display: none;
}

.wait-left-panel {

}
.wait-right-panel {

}
.wait {
    background-image: url('/app/img/wait.gif');
    background-repeat: no-repeat;
    background-position: center center;
    height:100%;
    display: none;
}