/**
 *  @file   fonts.css
 *
 *  Contains css font descriptions
 */

 @font-face {
    font-family: 'digital7';
    src: url('/dep/fonts/digital-7/mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
