/**
 *  @file   navigation.css
 *
 *  Contains navigation menu related styles.
 */

header {
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 0px;
    height:20px;
}

.navbar-default {
    background-color: #181818;
    border:0px;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-brand-label {
    height:40px;
    background-image: url('/app/img/favicon-white.png');
    background-repeat: no-repeat;
    background-position: left 0px;
    padding-left: 26px;
    background-size: 22px 22px;
    margin-left:5px;
    color: #FAFAFA;
}

div.navbar-right-links a {
    padding: 0 0 0 10px;
    height: 50px;
    line-height: 50px;
    float: right;
}

div.navbar-right-links a.link-sign-in span,
div.navbar-right-links a.link-register span,
div.navbar-right-links a.link-sign-out span,
.navbar-info-display,
.navbar-header > a > span {
    height:38px;
    line-height:55px;
    color: #FAFAFA;
    float: right;
}


.navbar-brand-label:hover,
span.navbar-brand-label:hover,
div.navbar-right-links > a > span:hover {
    color: #149BDF;;
    text-decoration: none;
    border-bottom: 1px solid #149BDF;
}

.catalog-label{
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
    text-align: center;
    float: left;
    padding: 0 10px;
}

.fx-catalog-label {
    background: #FAFAFA;
}

.mix-catalog-label {
    background: #FAFAFA;
}

.navbar-right-links {
    float: right;
    text-align: right;
}

.navbar-info-display {
    height:35px;
    line-height:55px;
    color: #FAFAFA;
    float:left;

}
a.link-register,
a.link-sign-in,
a.link-sign-out{
    display: none;
}