/**
 *  @file   colors.css
 *
 *  Contains application coloring styles.
 */

/* BACKGROUND-COLORS*/
body,
html,
button,
.data-not-active,
.fx-catalog-label,
.mix-catalog-label {
    background-color: #FAFAFA;
}


.hover,
.panel-entry,
.splash,
.mixer-meter .mixer-led,
.slider-track-low,
.slider-track-high,
.slider-selection,
.disabledButton {
    background-color: #333333;
}

.container,
.dropdown,
.dropdown .holder > div,
.navbar-default,
.panel,
.section-label > .title > span {
    background-color: #212121;
}

.data-active,
.information-image,
/*.stopWatch,
.timedisplay,*/
.track-fader-mute > button.armed,
.mixer-meter .mixer-led-normal.on,
main > .container > .row-container .statistics ,
.positive,
.panel button.accept {
    background-color: #149BDF;
}

button.exit,
button.tutorial,
.track-fader-record button.armed,
.mixer-meter .mixer-led-danger.on {
    background-color: #FF007D;
}

.mixer-meter .mixer-led-warn.on {
    background-color: #C700FF;
}

main > .container > .row-container .track-fader-slider .slider-handle,
.display {
    background-color: transparent;
}

/* FONT COLORS */
.armed,
.data-active,
.dropdown,
.instructions,
main > .container,
.navbar-default .navbar-brand,
.navbar-brand-label,
.navbar-header > a > span,
.navbar-info-display,
.navbar-right-links a span,
.panel button.exit,
.panel button.accept,
.row,
.splash-brand-label,
.track-fader-record button.armed,
.icon-white,
.pre-text,
.section-label > .title > span,
.record button.armed:not(.disabled),
main > .container > .row-container li.scale-5L-top label.db ,
main > .container > .row-container li.scale-5L-top label.vu,
main > .container > .row-container li.scale-5L-top label.vu,
main > .container > .row-container li.scale-5L-top label.vu i,
main > .container > .row-container li.scale-5L-top label.db,
main > .container > .row-container li.scale-5L-top label.db i {
    color: #FAFAFA;
}

.data-active {
    color: #FAFAFA !important;
}

button,
.data-not-active {
    color: #333333;
}

input.editable-text,
.name input,
.record button.disabledButton,
.disabledButton,
.disabledButton.armed,
.disabledButton.play,
.disabledButton.stop,
.disabledButton.forward,
.disabledButton.rewind,
.disabledButton.record,
.graph-clock-length-label,
.statistics,
.timedisplay,
.timedisplay-label,
main > .container > .row-container .graph-clock .graph-clock-track,
main > .container > .row-container .graph-clock .graph-clock-bar-label div {
    color: #212121;
}

.api-item-url,
.api-row-options,
.icon-right .fa,
.icon-right.pass .fa-check,
.icon-right.pass .fa-lock,
.navbar-brand-label:hover,
.navbar-brand:hover .navbar-brand-label,
.navbar-right-links > a > span:hover,
.panel .title .fa,
.splash-label,
.section-label,
main > .container > .row-container label.db,
main > .container > .row-container label.vu {
    color: #149BDF;
}

.api-item-param,
.api-url-param,
.information-title,
.icon-right.err .fa-times,
.icon-right.err .fa-unlock,

.hover,
.record button:not(.disabledButton),
.warning {
    color: #FF007D;
}

/* BORDER COLORS*/
main > .container > .row-container .track .track-name > .track-label:hover {
    border-color: #555555;
}

.stopWatch,
.stopWatch > .timedisplay,
.dropdown,
.track,
.master,
.slider-track-low,
.slider-track-high,
.slider-selection,
.panel .track-selector > button,
.panel button.exit,
.panel button.accept,
.panel .fx-catalog-panel-item {
    border-color: #333333;
}

main > .container > .row-container .track-name > .track-label,
main > .container > .row-container .statistics {
    border-color: #212121;
}

.hover,
.error,
.panel-entry {
    border-color: #181818;
}

main > .container > .row-container .graph-clock .graph-clock-bar-wrapper {
    border-color: #1275A7;
}

.display {
    border-color: transparent;
}

/*IMAGES*/
main > .container > .row-container .graph-clock .graph-clock-needle {
    background-image: url('/app/img/marker.png');
}

main > .container > .row-container .graph-clock .graph-clock-bar {
    background-image: url('/app/img/pixels.png');
}

.slider-handle {
    background-image: url('/app/img/Fader.png');
}

.navbar-brand:hover .navbar-brand-label,
.jade-error .link-tutorial:hover,
.jade-error .icon-white:hover {
    background-image: url('/app/img/favicon/favicon-blue.png');
}

.icon-white,
.navbar-brand-label,
.splash-brand-label {
    background-image: url('/app/img/favicon/favicon-white.png');
}

main > .container > .row-container ul.scale li {
    background-image: url('/app/img/scale.png');
}

.slider-track-low,
.slider-track-high,
.slider-selection {
    background-image: none;
}

main > .container > .row-container li.scale-zero {
    background-image: none !important;
}

a.link-tutorial, .error {
    background-color: #FF007D !important;
    color: #FAFAFA !important;
}

a.link-tutorial:hover,
a.link-tutorial:hover span,
a.link-tutorial span:hover {
    color: #FAFAFA !important;
    border-color: #fafafa !important;
    background-color: #149bdf !important;
}

.glass {
    background-image: linear-gradient(#149bdf,#1C90CA);
}

.glass:after {
    background-image: linear-gradient(#149bdf,rgba(28, 144, 202, 0.87));
}

.jade-error .link-tutorial:hover,
.jade-error .icon-white:hover {
    color: #149bdf !important;
    border-bottom: 1px solid #149bdf;
}

.jade-error pre {
    border-color: #FF007D;
    background-color: #212121;
    color: #fafafa;
}

.longest {
    background-color: #1275A7;
}

.recording,
.negative {
    background-color: #FF007D;
}

.drop-arrow {
    background-image: url('/app/img/drop-arrow.png');
    width: 32px;
    height: 8px;
    background-size: 64px 32px;
    float: left;
    position: relative;
    background-repeat: no-repeat;
    left: 155px;
    bottom: -7px;
}

.navbar-brand:hover .drop-arrow {
    background-position-x: -32px;
    bottom: -7px;
}

.drop-arrow.down {
    background-position-y: -24px;
    bottom: -7px;
}

.drop-arrow.up {
    background-position-y: 0;
    bottom: -7px;
}

