/**
 *  @file   colors.css
 *
 *  Contains application coloring styles.
 */

/* BACKGROUND-COLORS*/
body,
html,
button,
.data-not-active,
.fx-catalog-label,
.mix-catalog-label {
    background-color: #FAFAFA;
}

.container,
.dropdown,
.dropdown .holder > div,
.navbar-default,
.panel {
    background-color: #212121;
}

.data-active,
.information-image,
.panel button,
.stopWatch {
    background-color: #149BDF;
}

.error,
.fx-catalog-panel-item,
.hover,
.panel-entry,
.splash {
    background-color: #333333;
}

button.armed,
button.exit {
    background-color: #FF007D;
}


/* FONT COLORS */
button,
.data-not-active,
.stopWatch > .timedisplay {
    color: #333333;
}

input.editable-text,
.name input {
    color: #212121;
}

.api-item-url,
.api-row-options,
.icon-right .fa,
.icon-right.pass .fa-check,
.icon-right.pass .fa-lock,
.navbar-brand-label:hover,
.navbar-right-links > a > span:hover,
.panel .title .fa,
.splash-label {
    color: #149BDF;
}

.armed,
.data-active,
.dropdown,
.fx-catalog-panel-item-title,
.instructions,
main > .container,
.navbar-default .navbar-brand,
.navbar-brand-label,
.navbar-header > a > span,
.navbar-info-display,
.navbar-right-links a span,
.panel button,
.splash-brand-label,
.row {
    color: #FAFAFA;
}

.information-title,
.api-item-param,
.api-url-param,
.icon-right.err .fa-times,
.icon-right.err .fa-unlock,
.hover,
.error,
.warning {
    color: #FF007D;
}

/* BORDER COLORS*/
.hover,
.error,
.panel-entry {
    border-color: #181818;
}

.fx-catalog-panel-item,
.navbar-brand-label:hover,
.navbar-right-links a span:hover {
    border-color: #149BDF;
}

.stopWatch,
.stopWatch > .timedisplay,
.dropdown,
.track,
.master {
    border-color: #333333;
}

/*IMAGES*/
.navbar-brand-label,
.splash-brand-label {
    background-image: url('/app/img/favicon-white.png');
}

.navbar-brand-label:hover {
    background-image: url('/app/img/favicon-blue.png');
}

.slider-handle {
    background-image: url('/app/img/Fader.png');
}