/**
 *  @file   colors.css
 *
 *  Contains application coloring styles.
 */

/* BACKGROUND-COLORS*/
body,
html,
button,
.data-not-active,
.fx-catalog-label,
.mix-catalog-label {
    background-color: #FAFAFA;
}

.error,
.hover,
.panel-entry,
.splash,
.mixer-meter .mixer-led,
.slider-track-low,
.slider-track-high,
.slider-selection,
.disabledButton {
    background-color: #333333;
}

.container,
.dropdown,
.dropdown .holder > div,
.navbar-default,
.panel,
.section-label > .title > span {
    background-color: #212121;
}

.data-active,
.information-image,
.stopWatch,
.timedisplay,
.track-fader-mute > button.armed,
.mixer-meter .mixer-led-normal.on,
main > .container > .row-container .statistics ,
.panel button.accept {
    background-color: #149BDF;
}

button.exit,
button.tutorial,
.track-fader-record button.armed,
.mixer-meter .mixer-led-danger.on {
    background-color: #FF007D;
}

.mixer-meter .mixer-led-warn.on {
    background-color: #C700FF;
}

main > .container > .row-container .track-fader-slider .slider-handle,
.display {
    background-color: transparent;
}

/* FONT COLORS */
.armed,
.data-active,
.dropdown,
.instructions,
main > .container,
.navbar-default .navbar-brand,
.navbar-brand-label,
.navbar-header > a > span,
.navbar-info-display,
.navbar-right-links a span,
.panel button.exit,
.panel button.accept,
.row,
.splash-brand-label,
.track-fader-record button.armed,
.icon-white,
.pre-text,
.section-label > .title > span,
.record button.armed:not(.disabled),
main > .container > .row-container li.scale-5L-top label.db ,
main > .container > .row-container li.scale-5L-top label.vu,
main > .container > .row-container li.scale-5L-top label.vu,
main > .container > .row-container li.scale-5L-top label.vu i,
main > .container > .row-container li.scale-5L-top label.db,
main > .container > .row-container li.scale-5L-top label.db i {
    color: #FAFAFA;
}

.data-active {
    color: #FAFAFA !important;
}

button,
.data-not-active,
.stopWatch > .timedisplay,
.timedisplay-label {
    color: #333333;
}

input.editable-text,
.name input,
.record button.disabledButton,
.disabledButton,
.disabledButton.armed,
.disabledButton.play,
.disabledButton.stop,
.disabledButton.forward,
.disabledButton.rewind,
.disabledButton.record,
main > .container > .row-container .statistics {
    color: #212121;
}

.api-item-url,
.api-row-options,
.icon-right .fa,
.icon-right.pass .fa-check,
.icon-right.pass .fa-lock,
.navbar-brand-label:hover,
.navbar-right-links > a > span:hover,
.panel .title .fa,
.splash-label,
.section-label,
main > .container > .row-container label.db,
main > .container > .row-container label.vu {
    color: #149BDF;
}

.api-item-param,
.api-url-param,
.information-title,
.icon-right.err .fa-times,
.icon-right.err .fa-unlock,
.error,
.hover,
.record button:not(.disabledButton),
.warning {
    color: #FF007D;
}

/* BORDER COLORS*/
main > .container > .row-container .track .track-name > .track-label:hover {
    border-color: #555555;
}

.stopWatch,
.stopWatch > .timedisplay,
.dropdown,
.track,
.master,
.slider-track-low,
.slider-track-high,
.slider-selection,
.panel .track-selector > button,
.panel button.exit,
.panel button.accept,
.panel .fx-catalog-panel-item {
    border-color: #333333;
}

main > .container > .row-container .track-name > .track-label,
main > .container > .row-container .statistics {
    border-color: #212121;
}

.hover,
.error,
.panel-entry {
    border-color: #181818;
}

.navbar-brand-label:hover,
.navbar-right-links a span:hover {
    border-color: #149BDF;
}

.display {
    border-color: transparent;
}

/*IMAGES*/
.slider-handle {
    background-image: url('/app/img/Fader.png');
}

.navbar-brand-label:hover {
    background-image: url('/app/img/favicon-blue.png');
}

.icon-white,
.navbar-brand-label,
.splash-brand-label {
    background-image: url('/app/img/favicon-white.png');
}

main > .container > .row-container ul.scale li {
    background-image: url('/app/img/scale.png');
}

.slider-track-low,
.slider-track-high,
.slider-selection {
    background-image: none;
}

main > .container > .row-container li.scale-zero {
    background-image: none !important;
}

.pointer.link-tutorial.display {
    background-color: #FF007D !important;
    color: #FAFAFA !important;
}

.pointer.link-tutorial.display:hover,
.pointer.link-tutorial.display span:hover {
    color: #FAFAFA !important;
    border-color: #fafafa !important;
}