/**
 *  @file   style.css
 *
 *  Contains application wide styles.
 */
* {
    border: 0;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

/*NAVIGATION*/

header {
    z-index: 1000;
}

header > .navbar {
    border-bottom: 0;
    height: 50px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1001;
}

header > .navbar > .container > .navbar-header,
header > .navbar > .container > .navbar-header > button {
    height: 50px;
}

header > .navbar > .container > .navbar-header button.tutorial {
    height: 50px;
}

header > .navbar > .container > .navbar-header > .navbar-brand > .navbar-brand-label {
    background-position: left 0;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    height: 40px;
    margin-left: 5px;
    padding-left: 26px;
}

header > .navbar > .container > .navbar-header > .navbar-brand > .navbar-brand-label:hover {
    border-style: solid;
    border-width: 0 0 1px 0;
    text-decoration: none;
}

header > .navbar > .container > .navbar-right-links {
    float: right;
    text-align: right;
}

header > .navbar > .container > .navbar-right-links > a {
    display: none;
    float: right;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
}

header > .navbar > .container > .navbar-right-links > a > span {
    float: right;
    height: 38px;
    line-height: 55px;
}

header > .navbar > .container > .navbar-right-links > a > span:hover {
    border-style: solid;
    border-width: 0 0 1px 0;
    text-decoration: none;
}

/* DROPDOWN */
header > .dropdown {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: outset;
    border-width: 1px;
    display: none;
    height: 100%;
    left: 0;
    overflow-y: auto;
    padding: 0 0 20px 0;
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 1001;
}

header > .dropdown > .holder {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 20px;
}

header > .dropdown > .holder > .dropdown-left,
header > .dropdown > .holder > .dropdown-right {
    height: auto;
}

header > .dropdown > .holder .panel {
    display: none;
    margin-bottom: 0;
    margin-top: 10px;
}

header > .dropdown > .holder .panel .title .fa {
    line-height: 20px;
    margin-right: 5px;
}

header > .dropdown > .holder .panel button {
    height: 30px;
    line-height: 30px;
}

header > .dropdown > .holder .panel .row {
    margin-left: 0;
}

header > .dropdown > .holder .panel .row.title {
    margin-bottom: 8px;
}

/*PANELS*/

/*API*/
.panel .api-item-param {
    display: inline-block;
    margin-right: 25px;
    width: 40px;
}

.panel .api-row-tabbed {
    margin-left: 25px;
}

.panel .api-row-options {
    margin-left: 90px;
}

/*FX-CATALOG*/
.panel .fx-catalog-panel-item {
    border-style: solid;
    border-width: 1px;
    margin: 10px 10px 10px 10px;
}

.panel .fx-catalog-panel-item-title {
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.panel .fx-catalog-panel-item-image {
    height: 100%;
    padding: 5%;
    width: 100%;
}

/*INFORMATION-PANEL*/
.panel .information-panel {
    height: 100px;
}

.panel .track-selector {
    float: left;
    margin: 0;
    padding: 5px;
}

.panel .track-selector > button,
.panel button.exit {
    height: 30px;
    line-height: 30px;
    margin: 15px 0;
    width: 100%;
}

.panel .information-description {
    height: 50px;
}

.panel .information-exit,
.panel .information-actions {
    margin-bottom: 0;
    margin-left: 10px;
    width: 100%;
}

/*MIXER*/

main {
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 50px;
}

main > .container {
    border-radius: 10px;
    margin-top: 5px;
}

main > .container > .row-container {
    margin: 0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
}

main > .container > .row-container .row {
    padding: 8px 0 0 0;
    overflow-y: hidden;
}

main > .container > .row-container .row.bottom {
    position: relative;
    top: 443px;
}

main > .container > .row-container .row:first-child {
    border-top: none;
}

main > .container > .row-container .content-box {
    float: right;
    margin: 5px 0;
}

main > .container > .row-container > .track,
main > .container > .row-container > .master {
    border-style: outset;
    border-width: 1px;
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
}

/*TRACKS*/

/*MASTER*/

main > .container > .row-container > .master {
    padding-right: 0;
}

main > .container > .row-container .master .content-box {
    padding-left: 0;
}

main > .container > .row-container .master .content-box > div {
    margin-top: 0;
    padding-left: 0;
}

/*COMPONENTS*/

/*BUTTONS*/
main > .container > .row-container button {
    border-radius: 5px;
    width: 95%;
}

/*LABEL*/
main > .container > .row-container .track-name {
    margin: auto;
    text-align: center;
    width: 95%;
}

main > .container > .row-container .track-name > .track-label {
    cursor: text;
    margin: 0;
    padding: 0;
    text-align: left;
}

main > .container > .row-container .track-name > .master-label {
    cursor: default;
}

main > .container > .row-container .track-name > .track-label .editable-text {
    float: none;
    margin: 0;
    text-align: left;
    width: 120.666666%;
}

main > .container > .row-container .track .track-label {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    padding: 0;
}

main > .container > .row-container .track .track-label:hover {
    border-style: dashed;
    border-width: 1px;
}

main > .container > .row-container .track .track-label span.text {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    overflow: hidden;
}

main > .container > .row-container .master .master-label span.text {
    height: 43px;
    line-height: 44px;
}

main > .container > .row-container .track .track-label .editable-text:focus span.edit-icon {
    display: none;
}

main > .container > .row-container .track .track-label:hover span.edit-icon {
    display: block;
}

main > .container > .row-container .track .track-label span.edit-icon {
    display: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: -1px;
    right: 3px;
    text-align: right;
}

/*KNOB*/
main > .container > .row-container .row.row-knob {
    padding: 0 !important;
    margin: 0 !important;
}

main > .container > .row-container .row.row-knob > div {
    padding-bottom: 0;
}

main > .container > .row-container .track-knob-eq {
    height: 65px;
    margin: auto;
    position: relative;
    width: 94px;
}

main > .container > .row-container .track-knob-eq > label {
    bottom: 25px;
    height: 20px;
    left: 26px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 40px;
}

main > .container > .row-container .track-knob-eq > span {
    margin: auto;
    width: 20px;
}

/*FADER CONTROLS*/
main > .container > .row-container .track-fader {
    clear: both;
    margin: auto;
    width: 100%;
}

main > .container > .row-container .track-fader > div {
    float: left;
    margin: 0;
    padding: 0;
}

main > .container > .row-container .track-fader > div > button {
    width: 90%;
    height: 50px;
}

/*FADER SLIDER*/
main > .container > .row-container .track-fader-slider {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 15px;
}

.slider.slider-vertical .slider-track {
    width: 3px;
    height: 100%;
    margin-left: 1px;
    left: 50%;
    top: 0;
}

.slider-track-low,
.slider-track-high,
.slider-selection {
    border-width: 1px;
    border-style: solid;
}

main > .container > .row-container .track-fader-slider .slider-handle {
    background-repeat: no-repeat;
    background-size: 30px 40px;
    height: 40px;
    left: -4px;
    margin-left: -10px;
    margin-top: -20px;
    width: 30px;
}

main > .container > .row-container .track-fader-slider .slider-handle.round {
    border-radius: 5px;
}
/* MIXER METER */
main > .container > .row-container .mixer-meter {
    top: 18px;
    padding: 0;
}

main > .container > .row-container .mixer-meter ul {
    width: 15px;
    padding: 0;
    margin: auto;
}

main > .container > .row-container .mixer-meter li {
    list-style-type: none;
}

main > .container > .row-container .mixer-meter .mixer-led {
    height: 3px;
    margin: 3px 0;
    width: 15px;
}

main > .container > .row-container .mixer-meter .mixer-led:first-child {
    margin-top: 0;
}

/*METER SCALE*/
main > .container > .row-container ul.scale {
    left: -13px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
    margin-top: 15px;
}

main > .container > .row-container ul.scale li {
    background-size: 49px 11px;
    height: 10.75px;
    text-decoration: none;
    width: 12px;
}

main > .container > .row-container li.scale-5L-top {
    background-position: 12px 0;
}

main > .container > .row-container li.scale-5L-bottom {
    background-position: 24px 0;
}

main > .container > .row-container li.scale-5L-middle {
    background-position: 12px 0;
}

main > .container > .row-container li.scale-5S {
    background-position: 36px 0;
}

main > .container > .row-container li.scale-10 {
    background-position: 0 0;
}

main > .container > .row-container li.scale-zero {
    height: 0 !important;
}

main > .container > .row-container label.db,
main > .container > .row-container label.vu {
    height: 10px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 40px;
}

main > .container > .row-container label.db {
    left: 1px;
    text-align: left;
    top: -13px;
}

main > .container > .row-container label.db.alone {
    left: 13px;
}

main > .container > .row-container label.vu {
    left: -15px;
    text-align: right;
    top: -13px;
}

main > .container > .row-container li.scale-5L-top label.db ,
main > .container > .row-container li.scale-5L-top label.vu {
    position: relative;
}

main > .container > .row-container li.scale-5L-top label.db {
    right: -12px;
    top: -20px;
}

main > .container > .row-container li.scale-5L-top label.vu {
    left: -15px;
    top: -20px;
}
/*FX BOX*/
main > .container > .row-container .fx-box {
    height: 40px;
    width: 100%;
}

main > .container > .row-container .fx-box > div {
    float: left;
    margin: 0;
    padding: 0;
}

/*TIMER*/
main > .container > .row-container .stopWatch {
    border-style: inset;
    border-width: 1px;
    height: 78px;
    margin: 0 .5%;
    width: 99%;
}

main > .container > .row-container .stopWatch > .timedisplay {
    border-style: inset;
    border-width: 1px;
    line-height: 78px;
    padding: 0;
    text-align: center;
}

main > .container > .row-container .stopWatch > .timedisplay > div {
    padding: 0;
}

main > .container > .row-container .stopWatch > .timedisplay-label-wrapper {
    bottom: 25px;
    margin-bottom: -25px;
    padding: 0;
    position: relative;
    text-align: center;
}

main > .container > .row-container .stopWatch > .timedisplay-label-wrapper > div {
    padding: 0;
}

/*MASTER CONTROLS*/
main > .container > .row-container .playback > div {
    float: left;
    margin: 0;
    padding: 0;
}

main > .container > .row-container .playback > div > button {
    height: 50px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    width: 90%;
}

/*SECTION LABEL*/
main > .container > .row-container .section-label {
    border-width: 1px 0 1px 1px;
    border-style: solid;
    margin-bottom: -1000px;
    padding-bottom: 1000px;
    width: 10px;
}

main > .container > .row-container .section-label > .title {
    left: 23px;
    position: absolute;
    text-align: right;
    top: 40px;
    /*Chooses transformation point*/
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
    /*Rotates along point */
    -webkit-transform: rotate(-90deg) translate(-50%);
    -moz-transform: rotate(-90deg) translate(-50%);
    -ms-transform: rotate(-90deg) translate(-50%);
    -o-transform: rotate(-90deg) translate(-50%);
    transform: rotate(-90deg) translate(-50%);
    width: 100px;
}

main > .container > .row-container .section-label > .title > span {
    float: right;
    padding: 0 2px 0 2px;
}

/*SPLASH SCREENS*/
.splash {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2000;
}

.splash .splash-brand {
    height: 100%;
    width: 100%;
}

.splash .splash-brand .splash-brand-label {
    background-position: left 11px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    height: 80px;
    left: 50%;
    margin-left: 6px;
    padding-left: 50px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.splash p.response {
    float: left;
    margin-left: 45px;
}

.splash .instructions ol.panel {
    float: left;
    margin-left: 30px;
}

/*FORMS*/
form .form-control {
    margin-bottom: 12px;
}

form .icon-right {
    float: right;
}

form .icon-right > .fa {
    display: none;
}

form .icon-right.err > .fa-times,
form .icon-right.err > .fa-unlock,
form .icon-right.pass > .fa-check,
form .icon-right.pass > .fa-lock {
    display: block;
}

form .error {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    bottom: -20px;
    padding: 5px;
    position: absolute;
    right: 13px;
    z-index: 100;
}

/*WRAPPERS*/
.sticky-wrapper {
    height: 450px;
    position: relative;
}

.square-wrapper {
    float: left !important;
}

.square-wrapper > .square-inner > img {
    height: 100%;
    width: 100%;
}

/* UTILITY */
.left {
    float: left;
}

.pointer {
    cursor: pointer;
}

/*OVERRIDES*/
.display {
    border-width: 0;
    border-style: solid;
    box-shadow: none;
    display: block !important;
    visibility: visible !important;
}

.hide-hold-space {
    display: block !important;
    visibility: hidden !important;
}

.pre-text {
    padding: 5px;
    vertical-align: middle;
}

.icon-white {
    background-repeat: no-repeat;
    background-size: 32px 32px;
    height: 32px;
    padding-left: 38px;
    width: 32px;
    vertical-align: middle;
}
