/**
 *  @file   style.css
 *
 *  Contains application wide styles.
 */
* {
    border: 0;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

/*NAVIGATION*/

header {
    z-index: 1000;
}

header > .navbar {
    border-bottom: 0;
    height: 50px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1001;
}

header > .navbar > .container > .navbar-header > .navbar-brand > .navbar-brand-label {
    background-position: left 0;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    height: 40px;
    margin-left: 5px;
    padding-left: 26px;
}

header > .navbar > .container > .navbar-header > .navbar-brand > .navbar-brand-label:hover {
    border-style: solid;
    border-width: 0 0 1px 0;
    text-decoration: none;
}

header > .navbar > .container > .navbar-right-links {
    float: right;
    text-align: right;
}

header > .navbar > .container > .navbar-right-links > a {
    display: none;
    float: right;
    height: 50px;
    line-height: 50px;
    padding: 0 0 0 10px;
}

header > .navbar > .container > .navbar-right-links > a > span {
    float: right;
    height: 38px;
    line-height: 55px;
}

header > .navbar > .container > .navbar-right-links > a > span:hover {
    border-style: solid;
    border-width: 0 0 1px 0;
    text-decoration: none;
}

header > .dropdown {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: outset;
    border-width: 1px;
    display: none;
    height: 100%;
    left: 0;
    overflow-y: auto;
    padding: 0;
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 1001;
}

header > .dropdown > .holder {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 20px;
}

header > .dropdown > .holder > .dropdown-left,
header > .dropdown > .holder > .dropdown-right {
    height: auto;
}

header > .dropdown > .holder .panel {
    display: none;
    margin-bottom: 0;
    margin-top: 10px;
}

header > .dropdown > .holder .panel .title .fa {
    line-height: 20px;
    margin-right: 5px;
}

header > .dropdown > .holder .panel button {
    height: 30px;
    line-height: 30px;
}

header > .dropdown > .holder .panel .row {
    margin-left: 0;
}

header > .dropdown > .holder .panel .row.title {
    margin-bottom: 8px;
}

/*PANELS*/

/*API*/
.api-item-param {
    display: inline-block;
    margin-right: 25px;
    width: 40px;
}

.api-row-tabbed {
    margin-left: 25px;
}

.api-row-options {
    margin-left: 90px;
}

/*FX-CATALOG*/
.fx-catalog-panel-item {
    border-style: solid;
    border-width: 1px;
    margin: 10px 10px 10px 10px;
}

.fx-catalog-panel-item-title {
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.fx-catalog-panel-item-image {
    height: 100%;
    padding: 5%;
    width: 100%;
}

/*INFORMATION-PANEL*/
.information-panel {
    height: 100px;
}

.track-selector {
    float: left;
    margin: 0;
    padding: 5px;
}

.track-selector > button,
button.exit {
    height: 30px;
    line-height: 30px;
    margin: 15px 0;
    width: 100%;
}

.information-description {
    height: 50px;
}

.information-exit,
.information-actions {
    margin-bottom: 0;
    margin-left: 10px;
    width: 100%;
}

/*MIXER*/

main {
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 50px;
}

main > .container {
    border-radius: 10px;
    margin-top: 5px;
}
@media only screen and (min-width: 992px) {
    main > .container >.row-container {
        overflow:hidden;
    }
}
main > .container > .row-container {
    margin: 0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
}

main > .container > .row-container .row {
    padding: 8px 0;
}

main > .container > .row-container .row:first-child {
    border-top: none;
}

main > .container > .row-container > .track,
main > .container > .row-container > .master {
    border-style: outset;
    border-width: 1px;
    margin: 0;
    text-align: center;
}

main > .container > .row-container > .master {
 padding-right:0;
}
/*TRACKS*/
@media only screen and (max-width: 991px) {
    main > .container > .row-container > .track:nth-child(2) {
        border-bottom-left-radius: 10px;
    }

    main > .container > .row-container > .track:last-child {
        border-bottom-right-radius: 10px;
    }
}

@media only screen and (min-width: 992px) {
    main > .container > .row-container > .track:nth-child(2) {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
}

/*MASTER*/
@media only screen and (max-width: 991px) {
    main > .container > .row-container > .master {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

@media only screen and (min-width: 992px) {
    main > .container > .row-container > .master {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        margin-bottom:-1000px;
        padding-bottom:1000px;
        border-right-style:none;
    }
}

/*COMPONENTS*/

/*LABEL*/
main > .container > .row-container .track-name {
    margin: auto;
    text-align: center;
}

main > .container > .row-container .track-name > .track-label {
    cursor: text;
    margin: auto;
    text-align: center;
}

main > .container > .row-container .track-name > .master-label {
    cursor: default;
}

main > .container > .row-container .track-name > .track-label > .editable-text {
    float: none;
    margin: auto;
    text-align: center;
}

/*KNOB*/
main > .container > .row-container .track-knob-eq {
    height: 80px;
    margin: auto;
    position: relative;
    width: 98px;
}

main > .container > .row-container .track-knob-eq > label {
    bottom: 25px;
    height: 20px;
    left: 27px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 40px;
}

main > .container > .row-container .track-knob-eq > span {
    margin: auto;
    width: 20px;
}

/*FADER CONTROLS*/
main > .container > .row-container .track-fader {
    clear: both;
    margin: auto;
    width: 100%;
}

main > .container > .row-container .track-fader > div {
    float: left;
    margin: 0;
    padding: 0;
}

main > .container > .row-container .track-fader > div > button {
    height: 40px;
    width: 90%;
}

/*FADER SLIDER*/
main > .container > .row-container .track-fader-slider {
    margin-bottom: 30px;
}

main > .container > .row-container .track-fader-slider .slider-handle {
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 20px;
}

/*FX BOX*/
main > .container > .row-container .fx-box {
    height: 40px;
    width: 100%;
}

main > .container > .row-container .fx-box > div {
    float: left;
    margin: 0;
    padding: 0;
}

main > .container > .row-container .fx-box > div > button {
    width: 95%;
}

/*TIMER*/
main > .container > .row-container .stopWatch {
    border-style: inset;
    border-width: 1px;
    height: 78px;
    margin: 0 .5%;
    width: 99%;
}

main > .container > .row-container .stopWatch > .timedisplay {
    border-style: inset;
    border-width: 1px;
    line-height: 78px;
    padding: 0;
    text-align: center;
}

main > .container > .row-container .stopWatch > .timedisplay > div {
    padding: 0;
}

main > .container > .row-container .stopWatch > .timedisplay-label-wrapper {
    bottom: 25px;
    margin-bottom: -25px;
    padding: 0;
    position: relative;
    text-align: center;
}

main > .container > .row-container .stopWatch > .timedisplay-label-wrapper > div {
    padding: 0;
}

/*MASTER CONTROLS*/
@media only screen and (max-width: 991px) {
    .master .row .content-box div.playback {
        margin-top: 10px;
    }
}
main > .container > .row-container .playback > div {
    float: left;
    margin: 0;
    padding: 0;
}

main > .container > .row-container .playback > div > button {
    height: 40px;
    width: 95%;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}
.track, .master{
    padding-bottom:10px;
}
.track .row,
.master .row{
    overflow-y: hidden;
}
.master .row .content-box,
.track .row .content-box{float: right;}

.master .row .content-box,
.master .row .content-box div {
    padding-left: 0;
 }
.section-label{
    border-width: 1px 0px 1px 1px;
    border-color: #149BDF;
    border-style: solid;
    /* border-top-width: 1px; */
    width: 10px;
    margin-bottom: -1000px;
    padding-bottom: 1000px;
}
.section-label > .title {
    top: 27px;
    left: -31px;
    /* float: left; */
    background-color: #212121;
    color: #FAFAFA;
    font-size: 12px;
    line-height: 10px;
    /* transform: rotate(-90deg); */
    /* width: 100%; */
    width: 58px;
    /* font-size: 50px; */
    /* word-wrap: break-word; */
    /* letter-spacing: 51px; */
    /* text-align: center; */
    transform: rotate(-90deg);
    position: relative;
}

/*SPLASH SCREENS*/
.splash {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2000;
}

.splash-brand {
    height: 100%;
    width: 100%;
}

.splash-brand-label {
    background-position: left 11px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    height: 80px;
    left: 50%;
    margin-left: 6px;
    padding-left: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

p.response {
    float: left;
    margin-left: 45px;
}

.instructions ol.panel {
    float: left;
    margin-left: 30px;
}

.left {
    float: left;
}

/*FORMS*/
.form-control {
    margin-bottom: 12px;
}

.icon-right {
    float: right;
}

.icon-right > .fa {
    display: none;
}

.icon-right.err > .fa-times,
.icon-right.err > .fa-unlock,
.icon-right.pass > .fa-check,
.icon-right.pass > .fa-lock {
    display: block;
}

.error {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    bottom: -20px;
    padding: 5px;
    position: absolute;
    right: 13px;
    z-index: 100;
}

/*OVERRIDES*/
.display {
    display: block !important;
    visibility: visible !important;
}

.hide-hold-space {
    display: block !important;
    visibility: hidden !important;
}

.pointer {
    cursor: pointer;
}

/*WRAPPERS*/
.sticky-wrapper {
    height: 450px;
    position: relative;
}

.square-wrapper {
    float: left !important;
}

.square-wrapper > .square-inner > img {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .sticky-wrapper > .not-sticky-xs {
        height: 100% !important;
        overflow-y: auto;
        padding-top: 320px;
    }

    .sticky-wrapper > .sticky-xs {
        position: absolute;
        top: 0;
        z-index: 1005;
    }

    .square-wrapper > .square-inner > img {
        padding: 25%;
    }

    .square-wrapper > div.square-inner {
        width: 100%;
    }

    .row.top-bg-view {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    .sticky-wrapper > .not-sticky-sm {
        height: 100%;
        overflow-y: auto;
    }

    .sticky-wrapper > .sticky-xs {
        top: 0;
        z-index: 1005;
    }

    .square-wrapper > .square-inner > img {
        padding: 5%;
    }

    .square-wrapper > div.square-inner {
        height: 100px;
        width: 100px;
    }

    .square-wrapper > button.square-inner {
        height: 80px;
        width: 100%;
    }

    .square-wrapper > button.square-inner > img {
        height: 80px;
        width: 80px;
    }

    .row.top-sm-view {
        display: none;
    }
}