/**
 *  @file   style.css
 *
 *  Contains application wide styles.
 */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

/*NAVIGATION*/
header {
    z-index: 1000;
}

/*MENUBAR*/
header > .navbar {
    border-bottom: 0;
    height: 50px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1001;
}

header > .navbar > .container > .navbar-header > .navbar-brand > .navbar-brand-label {
    height: 40px;
    background-repeat: no-repeat;
    background-position: left 0;
    padding-left: 26px;
    background-size: 22px 22px;
    margin-left: 5px;
}

header > .navbar > .container > .navbar-header > .navbar-brand > .navbar-brand-label:hover {
    text-decoration: none;
    border-width: 0 0 1px 0;
    border-style: solid;
}

header > .navbar > .container > .navbar-right-links {
    float: right;
    text-align: right;
}

header > .navbar > .container > .navbar-right-links > a {
    display: none;
    float: right;
    height: 50px;
    line-height: 50px;
    padding: 0 0 0 10px;
}

header > .navbar > .container > .navbar-right-links > a > span {
    float: right;
    height: 38px;
    line-height: 55px;
}

header > .navbar > .container > .navbar-right-links > a > span:hover {
    border-style: solid;
    border-width: 0 0 1px 0;
    text-decoration: none;
}

/*DROPDOWN*/
header > .dropdown {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: outset;
    border-width: 1px;
    display: none;
    height: 100%;
    left: 0;
    right: 0;
    overflow-y: auto;
    padding: 0;
    position: fixed;
    top: 50px;
    z-index: 1001;
}

header > .dropdown > .holder {
    padding-bottom: 20px;
    overflow-y: auto;
    height: 100%;
}

header > .dropdown > .holder > .dropdown-left,
header > .dropdown > .holder > .dropdown-right {
    height: auto;
}

header > .dropdown > .holder .panel {
    display: none;
    margin-top: 10px;
    margin-bottom: 0;
}

header > .dropdown > .holder .panel .title .fa {
    line-height: 20px;
    margin-right: 5px;
}

header > .dropdown > .holder .panel button {
    line-height: 30px;
    height: 30px;
}

header > .dropdown > .holder .panel .row {
    margin-left: 0;
}

header > .dropdown > .holder .panel .row.title {
    margin-bottom: 8px;
}

/*PANELS*/

/*API*/
.api-item-param {
    margin-right: 25px;
    width: 40px;
    display: inline-block;
}

.api-row-tabbed {
    margin-left: 25px;
}

.api-row-options {
    margin-left: 90px;
}

/*FX*/
.fx-catalog-panel-item {
    margin: 10px 10px 10px 10px;
    border-width: 1px;
    border-style: solid;
}

.fx-catalog-panel-item-title {
    text-align: center;
    width: 100%;
    float: left;
    margin-top: 10px;
}

.fx-catalog-panel-item-image {
    height: 100%;
    width: 100%;
    padding: 5%;
}

/*INFO*/
.information-panel {
    height: 100px;
    /*position:absolute;*/
    ;
}

.track-selector {
    float: left;
    margin: 0;
    padding: 5px;
}

.track-selector > button,
button.exit {
    width: 100%;
    line-height: 30px;
    height: 30px;
    margin: 15px 0;
}

.information-exit {
    padding: 0 0 0 7%;
}

.information-description {
    height: 50px;
}

.information-actions {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 0;
}
/*MIXER*/
main {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}

main > .container {
    border-radius: 10px;
    margin-top: 5px;
}

main > .container > .row-container {
    padding: 0;
    margin: 0;
    margin-right: -15px;
    margin-left: -15px;
}

main > .container > .row-container .row {
    padding: 8px 0;
}

main > .container > .row-container .row:first-child {
    border-top: none;
}

/*SECTIONS*/
main > .container > .row-container > .track,
main > .container > .row-container > .master {
    border-width: 1px;
    border-style: outset;
    margin: 0;
    text-align: center;
}

/*TRACKS*/
main > .container > .row-container > .track:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*MASTER*/
main > .container > .row-container > .master:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*COMPONENTS*/

/*LABEL*/
main > .container > .row-container .track-name {
    margin: auto;
    text-align: center;
}

main > .container > .row-container .track-name > .track-label {
    margin: auto;
    text-align: center;
    cursor: text;
}

main > .container > .row-container .track-name > .master-label {
    cursor: default;
}

main > .container > .row-container .track-name > .track-label > .editable-text {
    margin: auto;
    text-align: center;
    float: none;
}

/*KNOBS*/
main > .container > .row-container .track-knob-eq {
    width: 98px;
    height: 80px;
    margin: auto;
    position: relative;
}

main > .container > .row-container .track-knob-eq > label {
    text-align: center;
    width: 40px;
    height: 20px;
    position: absolute;
    left: 27px;
    bottom: 25px;
    padding: 0;
    margin: 0;
}

main > .container > .row-container .track-knob-eq > span {
    width: 20px;
    margin: auto;
}

/*FADER BUTTONS*/
main > .container > .row-container .track-fader {
    clear: both;
    width: 100%;
    margin: auto;
}

main > .container > .row-container .track-fader > div {
    float: left;
    margin: 0;
    padding: 0;
}

main > .container > .row-container .track-fader > div > button {
    width: 90%;
    height: 40px;
}
/*FADER SLIDER*/
main > .container > .row-container .track-fader-slider {
    margin-bottom: 30px;
}

main > .container > .row-container .track-fader-slider .slider-handle {
    width: 20px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}

/*EFFECTS BOX*/
main > .container > .row-container .fx-box {
    height: 40px;
    width: 100%;
}

main > .container > .row-container .fx-box > div {
    float: left;
    margin: 0;
    padding: 0;
}

main > .container > .row-container .fx-box > div > button {
    width: 95%;
    height: 40px;
}
/*TIMER*/
main > .container > .row-container .stopWatch {
    border-width: 1px;
    border-style: inset;
}

main > .container > .row-container .stopWatch > .timedisplay {
    text-align: center;
    border-width: 1px;
    border-style: inset;
}

/*PLAY CONTROLS*/
main > .container > .row-container .playback > div {
    float: left;
    margin: 0;
    padding: 0;
}

main > .container > .row-container .playback > div > button {
    width: 90%;
    height: 40px;
}

/*SPLASH SCREENS*/
.splash {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}

.splash-brand {
    width: 100%;
    height: 100%;
}

.splash-brand-label {
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    background-position: left 11px;
    padding-left: 50px;
    background-size: 40px 40px;
    margin-left: 6px;
}

p.response {
    margin-left: 45px;
    float: left;
}

.instructions ol.panel {
    margin-left: 30px;
    float: left;
}

.left {
    float: left;
}

/*FORMS*/
.form-control {
    margin-bottom: 12px;
}

.icon-right {
    float: right;
}

.icon-right > .fa {
    display: none;
}

.icon-right.err > .fa-times,
.icon-right.err > .fa-unlock,
.icon-right.pass > .fa-check,
.icon-right.pass > .fa-lock {
    display: block;
}

.error {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    bottom: -20px;
    padding: 5px;
    position: absolute;
    right: 13px;
    z-index: 100;
}

/*OVERRIDES*/
.display {
    display: block !important;
    visibility: visible !important;
}

.hide-hold-space {
    display: block !important;
    visibility: hidden !important;
}

.pointer {
    cursor: pointer;
}

/* WRAPPERS */
.sticky-wrapper {
    position: relative;
    height: 450px;
}

.square-wrapper {
    float: left !important;
}

.square-wrapper > .square-inner > img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .sticky-wrapper > .not-sticky-xs {
        overflow-y: auto;
        height: 100% !important;
        padding-top: 320px;
    }

    .sticky-wrapper > .sticky-xs {
        position: absolute;
        top: 0;
        z-index: 1005;
    }

    .square-wrapper > .square-inner {
        width: 100%;
    }
}

@media only screen and (min-width: 769px) {
    .sticky-wrapper > .not-sticky-sm {
        overflow-y: auto;
        height: 100%;
    }

    .sticky-wrapper > .sticky-xs {
        top: 0;
        z-index: 1005;
    }

    .square-wrapper > .square-inner {
        width: 100px;
        height: 100px;
    }

    .square-wrapper > button.square-inner {
        width: 95%;
    }
}
