mixin splash-microphone()
    // Splash - Microphone Enabling Instructions
    .splash.microphone.hide
        // General Instructions
        .instructions.every.col-md-12.col-sm-12.col-xs-12
            .panel.col-md-12.col-sm-12.col-xs-12
                .splash-label.row.title.col-md-12.col-sm-12.col-xs-12
                    +icon-header('warning', 'Why do we require a microphone?', true, false)
            p.response.col-md-12.col-sm-12.col-xs-12 trackstudio is a music recording application, without a microphone we can not record sounds.
            .panel.col-md-12.col-sm-12.col-xs-12
                .splash-label.row.title.col-md-12.col-sm-12.col-xs-12
                    +icon-header('enable', 'To enable the microphone on your browser', true, false)
        // Opera Instructions
        .instructions.Opera.hide
            ol.panel.col-md-12.col-sm-12.col-xs-12
                li.left.col-md-12.col-sm-12.col-xs-12
                    p.col-md-12.col-sm-12.col-xs-12(style="float:none") Click on the address bar microphone icon.
                    img.col-md-6.col-sm-9.col-xs-12(src="/app/img/instructions/opera/address-bar.png")
                li.left.col-md-12.col-sm-12.col-xs-12
                    p.col-md-12.col-sm-12.col-xs-12(style="float:none") In the dialog click "Clear this setting and reload".
                    img.col-md-6.col-sm-9.col-xs-12(src="/app/img/instructions/opera/enable.png")
                li.left.col-md-12.col-sm-12.col-xs-12
                    p.col-md-12.col-sm-12.col-xs-12(style="float:none") Refresh the page to and click 'Allow' to access trackstudio.
                    img.col-md-6.col-sm-9.col-xs-12(src="/app/img/instructions/opera/post-enable.png")
        // Chrome Instructions
        .instructions.Chrome.hide
            ol.panel.col-md-12.col-sm-12.col-xs-12
                li.left.col-md-12.col-sm-12.col-xs-12
                    p.col-md-12.col-sm-12.col-xs-12(style="float:none") Click on the address bar blocked hardware icon.
                    img.col-md-6.col-sm-9.col-xs-12(src="/app/img/instructions/chrome/address-bar.png")
                li.left.col-md-12.col-sm-12.col-xs-12
                    p.col-md-12.col-sm-12.col-xs-12(style="float:none") In the dialog select "Always to allow" and make sure your microphone or default is selected.
                    img.col-md-6.col-sm-9.col-xs-12(src="/app/img/instructions/chrome/enable.png")
                li.left.col-md-12.col-sm-12.col-xs-12
                    p.col-md-12.col-sm-12.col-xs-12(style="float:none") Refresh the page to access trackstudio.
        // Internet Explorer Instructions - Currently Incompatible
        .instructions.IE.hide
            ol.panel.col-md-12.col-sm-12.col-xs-12
                // li.left.col-md-12.col-sm-12.col-xs-12
                   // p.col-md-12.col-sm-12.col-xs-12(style="float:none") Click on the address bar blocked hardware icon.
                   // img.col-md-6.col-sm-9.col-xs-12(src="/app/img/instructions/ie/address-bar.png")
                // li.left.col-md-12.col-sm-12.col-xs-12
                    // p.col-md-12.col-sm-12.col-xs-12(style="float:none") In the dialog select "Always to allow" and make sure your microphone or default is selected.
                    // img.col-md-6.col-sm-9.col-xs-12(src="/app/img/instructions/ie/enable.png")
                // li.left.col-md-12.col-sm-12.col-xs-12
                    // p.col-md-12.col-sm-12.col-xs-12(style="float:none") Refresh the page to access trackstudio.
        // Edge Instructions
        .instructions.Edge.hide
            ol.panel.col-md-12.col-sm-12.col-xs-12
                li.left.col-md-12.col-sm-12.col-xs-12
                    p.col-md-12.col-sm-12.col-xs-12(style="float:none") Click on the address bar blocked hardware icon.
                    img.col-md-6.col-sm-9.col-xs-12(src="/app/img/instructions/edge/address-bar.png")
                li.left.col-md-12.col-sm-12.col-xs-12
                    p.col-md-12.col-sm-12.col-xs-12(style="float:none") In the dialog select "Always to allow" and make sure your microphone or default is selected.
                    img.col-md-6.col-sm-9.col-xs-12(src="/app/img/instructions/edge/enable.png")
                li.left.col-md-12.col-sm-12.col-xs-12
                    p.col-md-12.col-sm-12.col-xs-12(style="float:none") Refresh the page to access trackstudio.
        // Safari Instructions
        .instructions.Safari.hide
            ol.panel.col-md-12.col-sm-12.col-xs-12
                li.left.col-md-12.col-sm-12.col-xs-12
                    p.col-md-12.col-sm-12.col-xs-12(style="float:none") Click on the address bar blocked hardware icon.
                    img.col-md-6.col-sm-9.col-xs-12(src="/app/img/instructions/safari/address-bar.png")
                li.left.col-md-12.col-sm-12.col-xs-12
                    p.col-md-12.col-sm-12.col-xs-12(style="float:none") In the dialog select "Always to allow" and make sure your microphone or default is selected.
                    img.col-md-6.col-sm-9.col-xs-12(src="/app/img/instructions/safari/enable.png")
                li.left.col-md-12.col-sm-12.col-xs-12
                    p.col-md-12.col-sm-12.col-xs-12(style="float:none") Refresh the page to access trackstudio.
        // Unknown Browser Instructions
        .instructions.other.hide
            ol.panel.col-md-12.col-sm-12.col-xs-12
                li.left.col-md-12.col-sm-12.col-xs-12
                    p.col-md-12.col-sm-12.col-xs-12(style="float:none") Click on the address bar blocked hardware icon.
                    img.col-md-6.col-sm-9.col-xs-12(src="/app/img/instructions/chrome/address-bar.png")
                li.left.col-md-12.col-sm-12.col-xs-12
                    p.col-md-12.col-sm-12.col-xs-12(style="float:none") In the dialog select "Always to allow" and make sure your microphone or default is selected.
                    img.col-md-6.col-sm-9.col-xs-12(src="/app/img/instructions/chrome/enable.png")
                li.left.col-md-12.col-sm-12.col-xs-12
                    p.col-md-12.col-sm-12.col-xs-12(style="float:none") Refresh the page to access trackstudio.
