include ../icon-header.jade

mixin about-panel()
    //  About Panel
    .panel.about-panel.col-md-12.col-sm-12.col-xs-12
        .row.form-group.title.col-md-12.col-sm-12.col-xs-12
            +icon-header('about', 'about trackstudio', true, false)
        .row.form-group.content.col-md-12.col-sm-12.col-xs-12
            p Our goal is to create a simplified sound recording application that works in modern web browsers through the Web Audio API. We will differentiate our application by presenting the user with "creative constraints".
            p This will help our users focus on their music rather than the technicalities associated with other sound recording applications. We will achieve this by not including visual waveforms and limiting the amount of recordable tracks to four, reducing the interface and indirectly setting a goal for the artist.
            p Our target audience consists of musicians and songwriters, of both genders ages 13 and older, who like to record demos or music without having to download software.
            p The user must have access to a modern web browser and a microphone.
            p Our target audience is able to navigate a website and is familiar with how knobs, buttons, and sliders function. Users do not necessarily have prior sound recording experience, as a tutorial is provided.