//- Creates a section label for a track component
//- @name section-label

//- @function label-section
//- @param {String} title The label text.
mixin label-section(title)
    .section-label
        .title
            span=title