mixin scripts()
    // Initialization script
    script(src='/app/js/init.js')
    // Load Dependencies
    script(src='/dep/angular/angular.min.js')
    script(src='/dep/jquery/jquery.min.js')
    script(src='/dep/jquery-validation/jquery.validate.js')
    script(src='/dep/bootstrap/js/bootstrap.min.js')
    script(src='/dep/js/bootstrap-slider.js')
    script(src='/dep/js-cookie/js.cookie.js')
    // Load Mixins
    script(src='/app/js/StopWatch.js')
    script(src='/app/js/DropDown.js')
    script(src='/app/js/recorderWorker.js')
    script(src="/app/js/recorder.js")
    script(src="/app/js/volume-meter.js")
    script(src='/app/js/webAudioApi.js')
    script(src='/app/js/webAudioInterface.js')
    script(src='/app/js/knob.js')
    script(src='/app/js/track-label.js')
    script(src='/app/js/mixer.js')
    // Onload script
    script(src='/app/js/onLoad.js')