mixin stylesheet()
    // Stylesheets
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", media="screen" )
    link(rel="stylesheet", href="https://fontlibrary.org/face/segment7")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300')
    link(rel='stylesheet', href='/dep/css/bootstrap-slider.css')
    link(rel='stylesheet', href='/dep/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/dep/trip-js/trip.css')
    link(rel='stylesheet', href='/dep/css/tipped.css')
    link(rel='stylesheet', href='/app/css/fonts.css')
    link(rel='stylesheet', href='/app/css/structure.css')
    link(rel='stylesheet', href='/app/css/paint.css')
    link(rel='stylesheet', href='/app/css/media.css')
    link(rel='stylesheet', href='/app/css/tooltip.css')
