mixin account-panel()
    .panel.account-panel.col-md-12.col-sm-12.col-xs-12
        form(id="account-form", action="", method="post", novalidate="novalidate")
            .row.title.col-md-12.col-sm-12.col-xs-12
                +icon-header('account-settings', 'account settings', true, false)
            .row.form-group.content.col-md-12.col-sm-12.col-xs-12
                .row.form-group.col-md-12.col-sm-12.col-xs-12
                    label(for="account-user-name") name
                    .account-user-name(id="account-user-name", name="account-user-name") name goes here
                .row.form-group.col-md-12.col-sm-12.col-xs-12
                    label(for="account-user-email") email
                    .account-user-email(id="account-user-email", name="account-user-email") email goes here