include ../../icon-header.jade

mixin fx-catalog-panel()
    //  FX-Catalog Panel
    .panel.fx-catalog-panel.col-md-12.col-sm-12.col-xs-12
        .row.form-group.title.col-md-12.col-sm-12.col-xs-12
            +icon-header('fx-catalog', 'fx catalog', true, false)
        .row.form-group.content.col-md-12.col-sm-12.col-xs-12