mixin information-panel()
    .panel.information-panel.col-md-12.col-sm-12.col-xs-12
        .row.title.col-md-12.col-sm-12.col-xs-12
            +icon-header('contect', 'context information', true, false)
        .row.form-group.content.col-md-12.col-sm-12.col-xs-12
            .row.col-md-12.col-sm-12.col-xs-12
                .information-title Information title display
            .row.col-md-12.col-sm-12.col-xs-12
                .information-image Information image display
            .row.col-md-12.col-sm-12.col-xs-12
                .information-description Information desc display
            .row.col-md-12.col-sm-12.col-xs-12
                .information-actions Information action buttons display