include ../../icon-header.jade

mixin menu-panel()
    .panel.menu-panel.col-md-12.col-sm-12.col-xs-12
        form
            .row.title.col-md-12.col-sm-12.col-xs-12
                .row.form-group.content.col-md-12.col-sm-12.col-xs-12
                    .row.form-group.col-md-12.col-sm-12.col-xs-12
                        a.menu
                            +icon-header('contact', 'contact', false, true)
                        a.menu
                            +icon-header('about', ' trackstudio', false, true)
                        a.menu
                            +icon-header('mix-catalog', 'mix catalog', false, true)
                        a.menu
                            +icon-header('fx-catalog', 'fx catalog', false, true)
                        a.menu
                            +icon-header('api', 'api', false, true)