include ../../icon-header.jade

mixin register-panel()
    //  Register Panel
    .panel.register-panel.col-md-12.col-sm-12.col-xs-12
        //  Registration form
        form(id="register-form", action="", method="post", novalidate="novalidate")
            .row.title.col-md-12.col-sm-12.col-xs-12
                +icon-header('registration', 'registration form', true, false)
            .row.form-group.content.col-md-12.col-sm-12.col-xs-12
                //  Instructions
                .row.form-group.col-md-12.col-sm-12.col-xs-12
                    p Register to access special features, such as saving your recordings and in the future exporting them to other services.
                //  Name
                .row.form-group.col-md-12.col-sm-12.col-xs-12
                    label(for="register-name") name
                    span.icon-right.register-name
                         +icon-header('x', '', false, false)
                         +icon-header('check', '', false, false)
                    input.col-md-11.col-sm-11.col-xs.11.form-control(type="text", min-length="2", id="register-name", name="register-name")
                //  Email
                .row.form-group.col-md-12.col-sm-12.col-xs-12
                    label(for="register-email") email
                    span.icon-right.register-email
                         +icon-header('x', '', false, false)
                         +icon-header('check', '', false, false)
                    input.col-md-11.col-sm-11.col-xs.11.form-control(type="email", id="register-email", name="register-email")
                //  Password
                .row.form-group.col-md-12.col-sm-12.col-xs-12
                    label(for="register-password-1") paswword
                    span.icon-right.register-password-1
                         +icon-header('unlock', '', false, false)
                         +icon-header('lock', '', false, false)
                    input.col-md-11.col-sm-11.col-xs.11.form-control(type="password", id="register-password-1", name="register-password-1")
                //  Password Confirm
                .row.form-group.col-md-12.col-sm-12.col-xs-12
                    label(for="register-password-2") validate password
                    span.icon-right.register-password-2
                        +icon-header('x', '', false, false)
                        +icon-header('check', '', false, false)
                    input.col-md-11.col-sm-11.col-xs-11.form-control(type="password", id="register-password-2", name="register-password-2")
                //  Controls
                .row.col-md-12.col-sm-12.col-xs-12
                    button.accept.col-md-12.col-sm-12.col-xs-12(id="dropdown-button-register") register