include ../../icon-header.jade

mixin tutorial-panel()
    .panel.tutorial-panel.col-md-12.col-sm-12.col-xs-12
        .row.title.col-md-12.col-sm-12.col-xs-12
            +icon-header('tutorial', 'tutorial', true, false)
        .row.form-group.content.col-md-12.col-sm-12.col-xs-12
