mixin contact-panel()
    .panel.contact-panel.col-md-12.col-sm-12.col-xs-12
        .row.form-group.title.col-md-12.col-sm-12.col-xs-12
            +icon-header('contact', 'contact us', true, false)
        .row.form-group.content.col-md-12.col-sm-12.col-xs.12