mixin register-panel()
    .panel.register-panel.col-md-12.col-sm-12.col-xs-12
        form(id="register-form", action="", method="post", novalidate="novalidate")
            .row.title.col-md-12.col-sm-12.col-xs-12
                +icon-header('registration', 'registration form', true, false)
            .row.form-group.content.col-md-12.col-sm-12.col-xs-12
                .row.form-group.col-md-12.col-sm-12.col-xs-12
                    label(for="register-name") name
                    input.col-md-11.col-sm-11.col-xs.11.form-control(type="text", min-length="2", id="register-name", name="register-name")
                .row.form-group.col-md-12.col-sm-12.col-xs-12
                    label(for="register-email") email
                    input.col-md-11.col-sm-11.col-xs.11.form-control(type="email", id="register-email", name="register-email")
                .row.form-group.col-md-12.col-sm-12.col-xs-12
                    label(for="register-password-1") paswword
                    input.col-md-11.col-sm-11.col-xs.11.form-control(type="password", id="register-password-1", name="register-password-1")
                .row.form-group.col-md-12.col-sm-12.col-xs-12
                    label(for="register-password-2") validate password
                    input.col-md-11.col-sm-11.col-xs-11.form-control(type="password", id="register-password-2", name="register-password-2")
                .row.col-md-12.col-sm-12.col-xs-12
                    button.col-md-12.col-sm-12.col-xs-12(id="dropdown-button-register") register