include ../../icon-header.jade

include ../components/trackname.jade
include ../components/StopWatch.jade

mixin master(masterNum)
    // Master Track
    div.col-md-push-8.col-md-4.col-sm-12.col-xs-12.master(id="master-" + masterNum)
        +trackname(i, 'Master')
        // Time display
        div.row
            div.col-md-12.col-sm-12.col-xs-12
                +StopWatch(1)
        // Playback buttons
        div.row
            div.playback.col-md-124.col-sm-12.col-xs-12
                div.col-md-3.col-sm-3.col-xs-3
                    button.stop.data-not-active.data-active(value="Stop")
                        +icon-header('stop', 'Stop', false, false)
                div.col-md-3.col-sm-3.col-xs-3
                    button.play.data-not-active(value="Play")
                        +icon-header('play', 'Play', false, false)
                div.col-md-3.col-sm-3.col-xs-3
                    button.rewind.data-not-active(value="Rewind")
                        +icon-header('rewind', 'Rewind', false, false)
                div.col-md-3.col-sm-3.col-xs-3
                    button.forward.data-not-active(value="Fast Forward")
                        +icon-header('forward', 'Fast Forward', false, false)

