include ../../icon-header.jade

include ../components/trackname.jade
include ../components/timeDisplay.jade
include ../components/playback.jade
include ../components/statistics.jade

mixin master(masterNum)
    // Master Track
    div.col-md-push-8.col-md-4.col-sm-12.col-xs-12.master(id="master-" + masterNum, data-track-length='0')
        +trackname(-1, 'Master')
        +playback()
        +timeDisplay()
        +statistics()
        // Features
        .row.bottom
            .col-xs-0.col-sm-12.col-md-12.col-lg-12
                div.col-md-12.col-sm-12.col-xs-12
                    span.icon-white.link-tutorial trackstudio
