include ../components/fader-slider.jade
include ../components/fader-controls.jade
include ../components/fxbox.jade
include ../components/knob.jade
include ../components/trackname.jade

mixin track(trknum)
    // Track
    div.col-md-2.col-sm-3.col-xs-3(id='track-'+trknum, class='track')
        +trackname(trknum, 'Track ' + trknum)
        // EQ High
        +knob(trknum, 'Treble', 'eq','-','+','HIGH')
        // EQ Low
        +knob(trknum, 'Bass', 'eq','-','+','LOW')
        // Pan
        +knob(trknum, 'Pan','pan','L','R')
        // Fader
        +fader-controls(trknum)
        +fader-slider(trknum)
        // FX Box
        +fxbox(trknum)