include ../components/fader-slider.jade
include ../components/fader-controls.jade
include ../components/fx-box.jade
include ../components/knob.jade
include ../components/meter.jade
include ../components/trackname.jade
include ../components/section-label.jade

mixin track(trknum)
    // Track
    div.col-md-pull-4.col-md-2.col-sm-3.col-xs-3.track(id='track-'+trknum)
        // Label
        +trackname(trknum, 'Track ' + trknum)
        //Mute,Record
        +fader-controls(trknum)
        // FX Box
        +fx-box(trknum)
        // Fader
        +fader-slider(trknum, true)
        .row
            .col-xs-1.col-sm-1.col-md-1.col-lg-1
                +section-label('Equalizer')
            .content-box.col-xs-11.col-sm-11.col-md-11.col-lg-11
                // EQ High
                +knob(trknum, 'Treble', 'eq','-','+','HIGH')
                // EQ Low
                +knob(trknum, 'Bass', 'eq','-','+','LOW')
        .row
            .col-xs-1.col-sm-1.col-md-1.col-lg-1
                +section-label('Stereo')
            .content-box.col-xs-11.col-sm-11.col-md-11.col-lg-11
                // Pan
                +knob(trknum, 'Pan','pan','L','R')
        // Fader
        +fader-slider(trknum, false)




