include ../components/fader-slider.jade
include ../components/fader-controls.jade
include ../components/fx-box.jade
include ../components/knob.jade
include ../components/meter.jade
include ../components/trackname.jade

mixin track(trknum)
    // Track
    div.col-md-pull-4.col-md-2.col-sm-3.col-xs-3.track(id='track-'+trknum)
        // Label
        +trackname(trknum, 'Track ' + trknum)
        // FX Box
        +fx-box(trknum)
        //Mute,Record
        +fader-controls(trknum)
        // Fader
        +fader-slider(trknum, true)
        // EQ High
        +knob(trknum, 'Treble', 'eq','-','+','HIGH')
        // EQ Low
        +knob(trknum, 'Bass', 'eq','-','+','LOW')
        // Pan
        +knob(trknum, 'Pan','pan','L','R')
        // Fader
        +fader-slider(trknum, false)




