include ../icon-header.jade
include ./sections/track.jade
include ./sections/master.jade

mixin mixer()
    // Mixer section
    main
        +splash()
        div.container
            div.row-container
                // Master section
                +master(1)
                // Tracks section
                each i in [1,2,3,4]
                     +track(i)

