//- The application dropdown
//- @name dropdown.jade

//- Include components
include ../panels/login-panel.jade
include ../panels/register-panel.jade
include ../panels/account-panel.jade
include ../panels/information-panel.jade

include ../panels/fx-catalog-panel.jade
include ../panels/mix-catalog-panel.jade
include ../panels/about-panel.jade
include ../panels/contact-panel.jade
include ../panels/api-panel.jade
//- Creates a dropdwon that holds the menus for the application
//- @function dropdown
//- @param {String} id The id to give the dropdown
mixin dropdown(id)
    //  Dropdown
    .dropdown.col-md-12.col-sm-12.col-xs-12(id=id)
        .holder
            //  Dropdown left
            .dropdown-left.col-lg-3.col-md-4.col-sm-5.col-xs-12.sticky-xs.sticky-sm
                //  Dropdown left wait
                .panel.wait-left-panel.wait.col-md-12.col-sm-12.col-xs-12
                //  Dropdown left panels
                +login-panel()
                +register-panel()
                +account-panel()
                +information-panel()
            //  Dropdown right
            .dropdown-right.col-lg-9.col-md-8.col-sm-7.col-xs-12.not-sticky-xs.not-sticky-sm
                //  Dropdown right wait
                .panel.wait-right-panel.wait.col-md-12.col-sm-12.col-xs-12
                //  Dropdown right panels
                +mix-catalog-panel()
                +fx-catalog-panel()
                +about-panel()
                +contact-panel()
                +api-panel()
