//- Holds all the included client side scripts
//- @name scripts.jade

//- Adds all the client side scripts
//- @function scripts
mixin scripts()
    // Initialization script
    script(src='/app/js/init.js')
    
    // Load Dependencies
    script(src='/dep/js/google-analytics.js')
    script(src='/dep/lib/jquery/jquery.min.js')
    script(src='/dep/lib/jquery/jquery-color/jquery.animate-colors-min.js')
    script(src='/dep/lib/jquery/jquery-validation/jquery.validate.js')
    script(src='/dep/lib/jquery/jquery-pulse/jquery.pulse.min.js')
    script(src='/dep/lib/jquery/jquery-qtip/jquery.qtip.min.js')
    script(src='/dep/lib/bootstrap/js/bootstrap.min.js')
    script(src='/dep/lib/bootstrap/bootstrap-slider/bootstrap-slider.js')
    script(src='/dep/lib/trip-js/trip.min.js')
    script(src='/dep/lib/js-cookie/js.cookie.js')

    script(src='/dep/js/knob.js')
    script(src='/dep/js/recorderWorker.js')
    script(src="/dep/js/recorder.js")
    script(src="/dep/js/volume-meter.js")
    script(src="/dep/js/tuna.js")
    script(src="/dep/js/download.js")

    // Load Mixins
    script(src='/app/js/StopWatch.js')
    script(src='/app/js/DropDown.js')
    script(src='/app/js/webAudioApi.js')
    script(src='/app/js/webAudioInterface.js')
    script(src='/app/js/track-label.js')
    script(src='/app/js/meter.js')
    script(src='/app/js/mixer.js')

    // Onload script
    script(src='/app/js/onLoad.js')
