//- Holds all the stylesheets
//- @name stylesheets.jade

//- Adds the stylesheets
//- @function stylesheet
mixin stylesheet()
    //  Stylesheets
    //  Fonts
    link(rel="stylesheet", media="screen", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://fontlibrary.org/face/segment7")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300')
    //  Dependencies
    link(rel='stylesheet', href='/dep/lib/jquery/jquery-qtip/jquery.qtip.css')
    link(rel='stylesheet', href='/dep/lib/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/dep/lib/bootstrap/bootstrap-slider/bootstrap-slider.css')
    link(rel='stylesheet', href='/dep/lib/trip-js/trip.min.css')
    //  Application
    link(rel='stylesheet', href='/app/css/fonts.css')
    link(rel='stylesheet', href='/app/css/structure.css')
    link(rel='stylesheet', href='/app/css/paint.css')
    link(rel='stylesheet', href='/app/css/media.css')
    link(rel='stylesheet', href='/app/css/tooltip.css')
