doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description", content="5 Track Portastudio")
    meta(name="keywords", content="5,track,portastudio,recording")
    meta(name="author", content="Jose Flores")

    title=title

    script(src="/app/js/init.js")

    script(src="/dep/angular/angular.min.js")
    script(src="/dep/jquery/jquery.min.js")
    script(src="/dep/jquery-ui/jquery-ui.js")
    script(src="/dep/bootstrap/js/bootstrap.min.js")

    script(src="/dep/jquery/jquery.binarytransport.js")
    script(src="/app/js/audio.js")

    script(src="/app/js/onLoad.js")

    link(rel='stylesheet', href='/dep/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/app/css/style.css')

  body
    block content
