doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description', content='Track Studio')
    meta(name='keywords', content='4,track,studio,recording')

    title=title
    
    script(src='/app/js/init.js')

    script(src='/dep/angular/angular.min.js')
    script(src='/dep/jquery/jquery.min.js')
    script(src='/dep/bootstrap/js/bootstrap.min.js')

    script(src='/app/js/init.js')
    script(src='/app/js/knob.js')
    script(src='/app/js/bootstrap-slider.js')
    script(src='/app/js/track-label.js')
    script(src='/app/js/mixer.js')

    script(src='/app/js/onLoad.js')

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300')
    link(rel='stylesheet', href='/dep/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/app/css/bootstrap-slider.css')
    link(rel='stylesheet', href='/app/css/styles.css')
     
  body
    block content
