//- The mix-catalog panel
//- @name   mix-catalog-panel.jade

//- Include ocmponents
include ../icon-header.jade
//- The mix-catalog panel
//- @function mix-catalog-panel
mixin mix-catalog-panel()
    //  MIX-Catalog Panel
    .panel.mix-catalog-panel.col-md-12.col-sm-12.col-xs-12
        .row.form-group.title.col-md-12.col-sm-12.col-xs-12
            +icon-header('mix-catalog', 'mix catalog', true, false)
        .row.form-group.content.col-md-12.col-sm-12.col-xs-12