include ./dropdown.jade

mixin header()
    // Navigation bar
    header
        nav.navbar.navbar-default.navbar-static-top(id="navigation")
            div.container.col-md-12.col-sm-12.col-xs-12
                div.navbar-header.col-md-3.col-sm-3.col-xs-4
                     span.navbar-brand.col-md-12.col-sm-12.col-xs-12
                        span.pointer.navbar-brand-label trackstudio

                div.navbar-right-links.col-md-3.col-sm-5.col-xs-8
                     a.pointer.link-sign-in
                        span sign in
                     a.pointer.link-register
                        span register
                     a.pointer.link-sign-out
                        span sign out
                     a.pointer.link-tutorial
                        span learn

        +dropdown('partial')