include ./dropdown.jade

mixin header()
    // Navigation bar
    header
        nav.navbar.navbar-default.navbar-static-top(id="navigation")
            div.container.col-md-12.col-sm-12.col-xs-12
                div.navbar-header.col-md-3.col-sm-3.col-xs-4
                     span.navbar-brand.col-md-12.col-sm-12.col-xs-12
                        span.pointer.navbar-brand-label trackstudio
                //  Navbar Controls
                div.navbar-right-links.col-md-3.col-sm-5.col-xs-8
                     a.pointer.link-sign-in.col-xs-4.col-sm-4.col-md-4.col-lg-4
                        span.col-xs-12.col-sm-12.col-md-12.col-lg-12 sign in
                     a.pointer.link-register.col-xs-4.col-sm-4.col-md-4.col-lg-4
                        span.col-xs-12.col-sm-12.col-md-12.col-lg-12 register
                     a.pointer.link-sign-out.col-xs-4.col-sm-4.col-md-4.col-lg-4
                        span.col-xs-12.col-sm-12.col-md-12.col-lg-12 sign out
                     a.pointer.link-tutorial.col-xs-4.col-sm-4.col-md-4.col-lg-4
                        span.col-xs-12.col-sm-12.col-md-12.col-lg-12 learn
        +dropdown('partial')