mixin dropdown(id)
    .dropdown.col-md-12.col-sm-12.col-xs-12(id=id)
        .dropdown-left.col-md-3.col-sm-12.col-xs-12

            .panel.wait-left-panel.wait.col-md-12.col-sm-12.col-xs-12

            .panel.login-panel.col-md-12.col-sm-12.col-xs-12
                form(id="login-form", action="", method="post", novalidate="novalidate")
                    .row.title.col-md-12.col-sm-12.col-xs-12
                        i.fa.fa-sign-in
                        span.sys-font sign in form
                    .row.form-group.content.col-md-12.col-sm-12.col-xs-12
                        .row.form-group.col-md-12.col-sm-12.col-xs-12
                            label(for="login-email") email
                            input.col-md-11.col-sm-11.col-xs.11.form-control(type="email", id="login-email", name="login-email")
                        .row.form-group.col-md-12.col-sm-12.col-xs-12
                            label(for="login-password") password
                            input.col-md-11.col-sm-11.col-xs.11.form-control(type="password", id="login-password", name="login-password")
                        .row.col-md-12.col-sm-12.col-xs-12
                            button.col-md-12.col-sm-12.col-xs-12(id="dropdown-button-login") sign in


             .panel.register-panel.col-md-12.col-sm-12.col-xs-12
                form(id="register-form", action="", method="post", novalidate="novalidate")
                    .row.title.col-md-12.col-sm-12.col-xs-12
                        i.fa.fa-user-plus
                        span.sys-font registration form
                    .row.form-group.content.col-md-12.col-sm-12.col-xs-12
                        .row.form-group.col-md-12.col-sm-12.col-xs-12
                            label(for="register-name") name
                            input.col-md-11.col-sm-11.col-xs.11.form-control(type="text", min-length="2", id="register-name", name="register-name")
                        .row.form-group.col-md-12.col-sm-12.col-xs-12
                            label(for="register-email") email
                            input.col-md-11.col-sm-11.col-xs.11.form-control(type="email", id="register-email", name="register-email")
                        .row.form-group.col-md-12.col-sm-12.col-xs-12
                            label(for="register-password-1") paswword
                            input.col-md-11.col-sm-11.col-xs.11.form-control(type="password", id="register-password-1", name="register-password-1")
                        .row.form-group.col-md-12.col-sm-12.col-xs-12
                            label(for="register-password-2") validate password
                            input.col-md-11.col-sm-11.col-xs-11.form-control(type="password", id="register-password-2", name="register-password-2")
                        .row.col-md-12.col-sm-12.col-xs-12
                            button.col-md-12.col-sm-12.col-xs-12(id="dropdown-button-register") register

            .panel.account-panel.col-md-12.col-sm-12.col-xs-12
                form(id="account-form", action="", method="post", novalidate="novalidate")
                .row.title.col-md-12.col-sm-12.col-xs-12
                    i.fa.fa-cog
                    span.sys-font account settings
                .row.form-group.content.col-md-12.col-sm-12.col-xs-12
                    .row.form-group.col-md-12.col-sm-12.col-xs-12
                        label(for="account-user-name") name
                        .account-user-name(id="account-user-name", name="account-user-name") name goes here
                    .row.form-group.col-md-12.col-sm-12.col-xs-12
                        label(for="account-user-email") email
                        .account-user-email(id="account-user-email", name="account-user-email") email goes here

            .panel.information-panel.col-md-12.col-sm-12.col-xs-12
                .row.title.col-md-12.col-sm-12.col-xs-12
                    i.fa.fa-info-circle
                    span.sys-font context information
                .row.form-group.content.col-md-12.col-sm-12.col-xs-12
                    .row.col-md-12.col-sm-12.col-xs-12
                        .information-title Information title display
                    .row.col-md-12.col-sm-12.col-xs-12
                        .information-image Information image display
                    .row.col-md-12.col-sm-12.col-xs-12
                        .information-description Information desc display
                    .row.col-md-12.col-sm-12.col-xs-12
                        .information-actions Information action buttons display

        .dropdown-right.col-md-9.col-sm-12.col-xs-12
            .panel.wait-right-panel.wait.col-md-12.col-sm-12.col-xs-12

            .panel.fx-catalog-panel.col-md-12.col-sm-12.col-xs-12
                .row.form-group.title.col-md-12.col-sm-12.col-xs-12
                    i.fa.fa-tags
                    span.sys-font fx catalog
                .row.form-group.content.col-md-12.col-sm-12.col-xs-12

            .panel.mix-catalog-panel.col-md-12.col-sm-12.col-xs-12
                .row.form-group.title.col-md-12.col-sm-12.col-xs-12
                    i.fa.fa-file-audio-o
                    span.sys-font mix catalog
                .row.form-group.content.col-md-12.col-sm-12.col-xs-12

            .panel.about-panel.col-md-12.col-sm-12.col-xs-12
                .row.form-group.title.col-md-12.col-sm-12.col-xs-12
                    i.fa.fa-info-circle
                    span.sys-font about trackstudio
                .row.form-group.content.col-md-12.col-sm-12.col-xs-12

            .panel.contact-panel.col-md-12.col-sm-12.col-xs-12
                .row.form-group.title.col-md-12.col-sm-12.col-xs-12
                    i.fa.fa-envelope-o
                    span.sys-font contact us
                .row.form-group.content.col-md-12.col-sm-12.col-xs.12
            .panel.api-panel.col-md-12.col-sm-12.col-xs-12
                .row.form-group.title.col-md-12.col-sm-12.col-xs-12
                    i.fa.fa-terminal
                    span.sys-font api
                .row.form-group.content.col-md-12.col-sm-12.col-xs.12(id='api')