mixin fader(trknum)
    div.col-md-3(class='track-' + trknum)
        div.mute
            button='M'
        div.record
            button='R' 
        div.fader
            input.slider(type='text')