extends ../layout/index

mixin fader(trknum)
    div.row
        div(class="track-fader")
            div.mute(class='track-fader-mute', value=trknum)
                button
                    i(class="fa fa-volume-off")
            div.record(class='track-fader-record', value=trknum)
                button
                    i(class="fa fa-circle")
            div.fader(class='track-fader-slider', value=trknum)
                input.slider(type='text', data-slider-handle='custom')