extends ../layout/index

mixin fader(trknum)
    div.row
        div(class="track-fader")
            div.mute(class='track-fader-mute')
                button='M'
            div.record(class='track-fader-record')
                button='R'
            div.fader(class='track-fader-slider')
                input.slider(type='text')