mixin footer()
    //Footer Section
    footer
        div.container.centered
            div.row
                div.col-md-12
                    p.copyright Except when otherwise noted, content on this site is licensed under a Creative Commons Attribution 4.0 International license.
                        a.pointer.link-api( style="margin-left:5px", onClick="dd.show('API');")
                            span developer access api