extends ../layout/index

include fader.jade
include fxbox.jade
include knob.jade
include trackname.jade

block content
    // Navigation bar
    header
        nav.navbar.navbar-default.navbar-static-top
            div.container
                div.navbar-header
                    button.navbar-toggle.collapsed(data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    span.navbar-brand TRACK STUDIO
                div.collapse.navbar-collapse#bs-example-navbar-collapse-1
                    ul.nav.navbar-nav
                        li.active
                            a(href='#') Mixer
                                span.sr-only (current)
                        li
                            a(href='#') About
                        li
                            a(href='#') Contact
    // Mixer
    main
        div.container
            div.row
                // Tracks section
                div.col-md-8
                    // Track name
                    div.row.tracknames
                        each i in [1,2,3,4]
                            +trackname(i, 'Track ' + i)
                    // EQ High
                    div.row.high
                        each i in [1,2,3,4]
                            +knob(i, 'EQ High', 'eq','-','+')
                    // EQ Mid
                    div.row.mid
                        each i in [1,2,3,4]
                            +knob(i, 'EQ Mid', 'eq','-','+')
                    // EQ Low
                    div.row.low
                        each i in [1,2,3,4]
                            +knob(i, 'EQ Low', 'eq','-','+')
                    // Pan
                    div.row
                        each i in [1,2,3,4]
                            +knob(i, 'Pan','pan','L','R')
                    // Fader & buttons
                    div.row
                        each i in [1,2,3,4]
                            +fader(i)
                    // FX Box
                    div.row
                        each i in [1,2,3,4]
                            +fxbox(i)
                // Master section
                div.col.md.4
    // Mixer
    footer
        div.container.centered
            div.row
                div.col-md-12
                    p.copyright Except when otherwise noted, content on this site is licensed under a Creative Commons Attribution 4.0 International license.