extends ../layout/index

include trackname.jade
include StopWatch.jade

mixin master(masterNum)
    // Master Track
    div.col-md-4.master(id="master-" + masterNum)
        // Track name
        +trackname(i, 'Master')
        // Time display
        div.row
            div.col-md-12
                +stopWatch(1)

        // Playback buttons
        div.row.playback
            div.col-md-3
                button.stop.data-not-active.data-active(onClick="sw.run('STOP');")
                    i(class="fa fa-stop")
            div.col-md-3
                button.play.data-not-active(onClick="sw.run('START');")
                    i(class="fa fa-play")
            div.col-md-3
                button.rewind.data-not-active
                    i(class="fa fa-backward")
            div.col-md-3
                button.forward.data-not-active
                    i(class="fa fa-forward")