mixin navigation()
    // Navigation bar
    header
        nav.navbar.navbar-default.navbar-static-top
            div.container.col-md-12.col-sm-12.col-xs-12
                div.navbar-header.col-md-2.col-sm-3.col-xs-6
                     span.navbar-brand.col-md-12.col-sm-12.col-xs-12
                        span.navbar-brand-label trackstudio

                div.navbar-right-links.col-md-3.col-sm-3.col-xs-6
                     a(onClick="dd.show('LOGIN');")
                        span.link-sign-in sign in
                     a(onClick="dd.show('REGISTER');")
                        span.link-register register
                     a
                        span.link-sign-out sign out

                div.navbar-info-display.col-md-4.col-sm-6.col-xs-12
                     span.project-name.col-md-12.col-sm-12.col-xs-12 project name

