mixin navigation()
    // Navigation bar
    header
        nav.navbar.navbar-default.navbar-static-top
            div.container.col-md-12
                div.navbar-header.col-md-3
                    span.navbar-brand.col-md-12
                        span.navbar-brand-label trackstudio
                div.container.col-md-9
                    a.nav-link
                        span sign in
                    div.catalog-label.mix-catalog-label.col-md-2
                        span mix catalog
                    div.catalog-label.fx-catalog-label.col-md-2
                        span fx catalog




