mixin fader-controls(trknum)
    // Fader Controls
    div.row
        div.track-fader
            div.mute.col-md-6.col-sm-6.col-xs-6.track-fader-mute(value=trknum)
                button
                    i.fa.fa-volume-off
            div.record.col-md-6.col-sm-6.col-xs-6.track-fader-record(value=trknum)
                button
                    i.fa.fa-circle