mixin fader-controls(trknum)
    // Fader Controls
    div.row
        div(class="track-fader")
            div.mute.col-md-4.col-sm-4.col-xs-4(class='track-fader-mute', value=trknum)
                button
                    i(class="fa fa-volume-off")
            div.record.col-md-4.col-sm-4.col-xs-4(class='track-fader-record', value=trknum)
                button
                    i(class="fa fa-circle")