mixin fx-box(trknum)
    .row
        .fx-box
            .col-md-12.col-sm-12.col-xs-12.square-wrapper
                button.link-fx-box.square-inner
                    img(src='/app/img/effects/reverb.png')

