mixin fx-box(trknum)
    .row
        .fx-box
            .col-md-3.col-sm-3.col-xs-0
            .col-md-6.col-sm-6.col-xs-12.square-wrapper
                button.link-fx-box.square-inner
                    img(src='/app/img/effects/reverb.png')
            .col-md-3.col-sm-3.col-xs-0
