include ./section-label.jade

mixin fx-box(trknum)
    .row
        .col-xs-1.col-sm-1.col-md-1.col-lg-1
            +section-label('Effect')
        .content-box.col-xs-11.col-sm-11.col-md-11.col-lg-11
            .fx-box
                .col-md-12.col-sm-12.col-xs-12.square-wrapper
                    button.link-fx-box.square-inner
                        img(src='/app/img/effects/system-add-212121.png')

