mixin trackname(trknum, name)
    // Track name
    div.row
        if (trknum != -1)
            //  Track Label
            .col-xs-1.col-sm-1.col-md-1.col-lg-1
                +section-label('')
            .content-box.col-xs-11.col-sm-11.col-md-11.col-lg-11
                div.tracknames.track-name
                    div.name.col-xs-12.col-sm-12.col-md-12.col-lg-12
                        span.col-xs-10.col-sm-10.col-md-10.col-lg-10.text=name
                        span.col-xs-2.col-sm-2.col-md-2.col-lg-2.edit-icon
                            +icon-header('edit-text', false, false, false)
        else if (trknum == -1)
            //  Master Label
            div.tracknames.track-name
                div.name.col-xs-12.col-sm-12.col-md-12.col-lg-12
                    span.col-xs-12.col-sm-12.col-md-12.col-lg-12.text=name
